{{ $currentPage := . }}
{{ $style := resources.Get "css/custom.css" | resources.Minify | resources.Fingerprint }}
<link rel="stylesheet" href="{{ $style.RelPermalink }}">

<header id="header">
  <a href="{{ .Site.BaseURL }}">
  {{ if (isset .Site.Params "gravatar") }}
    <div id="logo" style="background-image: url(https://www.gravatar.com/avatar/{{ md5 .Site.Params.gravatar }}?s=100&d=identicon)"></div>
  {{ else if (isset .Site.Params "logo") }}
    {{ if hasPrefix .Site.Params.logo "fa" }}
      <div id="logo" class="font-awesome-logo">
        <i class="{{ .Site.Params.logo }} fa-4x" aria-hidden="true" style="color: #2bbc8a;"></i>
      </div>
    {{ else }}
      <div id="logo" style="background-image: url({{ .Site.Params.logo | absURL }})"></div>
    {{ end }}
  {{ else }}
    <div id="logo" style="background-image: url({{ "images/logo.png" | absURL }})"></div>
  {{ end }}
  <div id="title">
    <h1>{{ .Site.Title }}</h1>
  </div>
  </a>
  <div id="nav" class="nav-container">
    <ul>
      <li class="icon">
        <a href="#" aria-label="Menu"><i class="fas fa-bars fa-2x" aria-hidden="true"></i></a>
      </li>
      {{ range .Site.Menus.main }}
        {{ if .HasChildren }}
          <li class="has-dropdown">
            <a href="{{ .URL }}">{{ .Name }}</a>
            <div class="nav-dropdown">
              {{ range .Children }}
                <a href="{{ .URL }}" {{ if $currentPage.IsMenuCurrent "main" . }}class="active"{{ end }}>{{ .Name }}</a>
              {{ end }}
            </div>
          </li>
        {{ else }}
          <li>
            <a href="{{ .URL }}">{{ .Name }}</a>
          </li>
        {{ end }}
      {{ end }}
    </ul>
  </div>
</header>

